@charset "utf-8";
/* CSS Document */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* mobile -------------- */
@media screen and (max-width: 375px) {
    .all {
        background: url("images/pattern-background-mobile.svg") top no-repeat hsl(225, 100%, 94%);
    }
}
/* desktop -------------- */
@media screen and (min-width: 376px) {
    .all {
        background: url("images/pattern-background-desktop.svg") top no-repeat hsl(225, 100%, 94%);
    }
}
body {
    font-family: 'Red Hat Display', sans-serif;
}
img {
    border-radius: 20px 20px 0 0;
    max-width: 100%;
}
h1 {
    margin-bottom: 20px;
}
p, .link {
    color: hsl(224, 23%, 55%);
}
span {
    color: black;
    font-weight: 700;
}
button {
    background-color: hsl(245, 75%, 52%);
    padding: 10px 80px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 2px hsl(224, 23%, 55%);
    border: none;
    cursor: pointer;
    color: white;
    font-weight: 700;
}
button:hover {
    background-color: hsla(245, 74%, 71%, 1.00);
}
.all {
    max-width: 100vw;
    min-height: 100vh;
    padding: 100px 0;
}
.wrapper {
    width: 350px;
    margin: 0 auto;
    background-color: hsl(225, 100%, 98%);
    border-radius: 20px 20px 20px 20px;
}
.content {
    text-align: center;
    padding: 25px;
}
.flex {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}
.flex a:hover {
    color: hsla(245, 74%, 71%, 1.00);
    text-decoration: none;
}
.link {
    text-decoration: none;
}
.link:hover {
    color: black;
    font-weight: 700;
}
.attribution {
    font-size: 11px;
    text-align: center;
    color: hsl(220, 15%, 55%);
    margin: 20px 0;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}